body {
    margin: 15%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: 150px 150px;
    grid-gap: 20px;
    background-color: #fff;
    color: #444;
    justify-content: center;
}

.icon {
    text-align: center;
}

a:link, a:visited {
    background-color: -moz-default-background-color;
    color: black;
    border-radius: 5px;
    border: 2px solid hsla(0, 0%, 0%, 1);
    padding: 20px;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
}

a:hover, a:active {
    background-color: lightgrey;
}